<!doctype html>
<head>
  <style>
    input#query {
      width: 100%;
      font-size: 16px;
      margin-bottom: 1em;
    }
    input#calculate {
      float: right;
    }
    table {
      width: 100%;
      text-align: center;
    }
    .pagination span, .pagination a {
      display: inline-block;
      padding: 5px;
      border: 1px solid black;
    }
  </style>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
</head>
<body>

<form action='/'>
  <input name="query" id="query" type="text" value="{{ query }}" placeholder="Input JQL" />
</form>
{{#each errors}}
<h1> {{ this }} </h1>
{{/each}}

<form action="/calculate" method="post">

<table>
  <tr>
    <th>
      Selected?
    </th>
    <th>
      Ticket
    </th>
    <th>
      Status
    </th>
    <th>
      Description
    </th>
  </tr>
{{#each issues}}
  <tr>
    <td>
      <input type="checkbox" {{#if checked}}checked="checked"{{/if}} name="{{key}}" />
    </td>
    <td>
      <a href="https://wattpad.atlassian.net/browse/{{ key }}">{{ key }}</a>
    </td>
    <td>
      {{ fields.status.name }}
    </td>
    <td style="text-align: left;">
      {{ fields.summary }}
    </td>
  </tr>
{{/each}}
</table>

<input id="calculate" type="submit" value="Calculate Hours" />
<input type="hidden" name="query" value="{{query}}" />
<input type="hidden" name="start" value="{{start}}" />
</form>

<div class="pagination">
  {{{ pagination start total 50 query }}}
</div>

{{#if people}}
<h1> Hours worked </h1>
{{#each people}}
<div class="person">
  {{ name }}: {{ hours }} hours
</div>
{{/each}}
{{/if}}

{{#if errors}}
<h1>Errors that should be corrected</h1>
{{#each errors}}
<div class="error">
  <a href="https://wattpad.atlassian.net/browse/{{ key }}">{{ key }}</a>: {{ message }}
</div>
{{/each}}
{{/if}}
</body>
